/mysql-data/mysql.sock
/client/node_modules
*.vsidx
*.json
*.sqlite~change
/data
/apiServer/bin/Debug/net6.0
/mysql-data
/solr/data/gettingstarted/data
/.vs/SienceSiteProject/v17
/solr/logs
/client/src/views
