@font-face{
  font-family: "Mariupol";
  src: url('Mariupol-Bold.eot');
  src: url('Mariupol-Bold.eot?#iefix') format('embedded-opentype'),
  url('Mariupol-Bold.woff2') format('woff2'),
  url('Mariupol-Bold.woff') format('woff'),
  url('Mariupol-Bold.svg#Mariupol-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00F7

}
@font-face{
  font-family: "Mariupol";
  src: url('Mariupol-Regular.eot');
  src: url('Mariupol-Regular.eot?#iefix') format('embedded-opentype'),
  url('Mariupol-Regular.woff2') format('woff2'),
  url('Mariupol-Regular.woff') format('woff'),
  url('Mariupol-Regular.svg#Mariupol-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00F7
}


@font-face{
  font-family: 'l';
  src: url('l Medium.eot');
  src: url('l Medium.eot?#iefix') format('embedded-opentype'),
  url('l Medium.woff2') format('woff2'),
  url('l Medium.woff') format('woff'),
  url('l Medium.svg#l Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00F7
}


@font-face{
  font-family: 's';
  src: url('s.eot');
  src: url('s.eot?#iefix') format('embedded-opentype'),
  url('s.woff2') format('woff2'),
  url('s.woff') format('woff'),
  url('s.svg#s') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00BB
}


@font-face {
  font-family: 'ubuntu_monobold';
  src: url('ubuntumono-bold-webfont.eot');
  src: url('ubuntumono-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('ubuntumono-bold-webfont.woff2') format('woff2'),
  url('ubuntumono-bold-webfont.woff') format('woff'),
  url('ubuntumono-bold-webfont.svg#ubuntu_monobold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ubuntu_monobold_italic';
  src: url('ubuntumono-bolditalic.woff2') format('woff2'),
  url('ubuntumono-bolditalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ubuntu_monoitalic';
  src: url('ubuntumono-italic-webfont.eot');
  src: url('ubuntumono-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('ubuntumono-italic-webfont.woff2') format('woff2'),
  url('ubuntumono-italic-webfont.woff') format('woff'),
  url('ubuntumono-italic-webfont.svg#ubuntu_monoitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ubuntu_monoregular';
  src: url('ubuntumono-regular-webfont.eot');
  src: url('ubuntumono-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('ubuntumono-regular-webfont.woff2') format('woff2'),
  url('ubuntumono-regular-webfont.woff') format('woff'),
  url('ubuntumono-regular-webfont.svg#ubuntu_monoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}